In [6]:
import pandas as pd
df=pd.read_csv('players.csv')
df.head()

,soffifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg
0,158023,https://sofifa.com/player/158023/lionel-messi/,L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72
1,20801,https://sofifa.com/player/20801/cristiano-rona...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83
2,190871,https://sofifa.com/player/190871/neymar/,Neymar Jr,Neymar da Silva Santos Júnior,27,1992-02-05,175,68
3,192985,https://sofifa.com/player/192985/kevin-de-bruyne/,K. De Bruyne,Kevin De Bruyne,28,1991-06-28,181,68
4,200389,https://sofifa.com/player/200389/jan-oblak/,J. Oblak,Jan Oblak,27,1993-01-07,188,87

In [7]:
df=df.set_index(['short_name'])
df.head()

,soffifa_id,player_url,long_name,age,dob,height_cm,weight_kg
short_name,,,,,,,
L. Messi,158023,https://sofifa.com/player/158023/lionel-messi/,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72
Cristiano Ronaldo,20801,https://sofifa.com/player/20801/cristiano-rona...,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83
Neymar Jr,190871,https://sofifa.com/player/190871/neymar/,Neymar da Silva Santos Júnior,27,1992-02-05,175,68
K. De Bruyne,192985,https://sofifa.com/player/192985/kevin-de-bruyne/,Kevin De Bruyne,28,1991-06-28,181,68
J. Oblak,200389,https://sofifa.com/player/200389/jan-oblak/,Jan Oblak,27,1993-01-07,188,87

In [8]:
df=df[['long_name','age','dob','height_cm','weight_kg']]
df.head()

,long_name,age,dob,height_cm,weight_kg
short_name,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83
Neymar Jr,Neymar da Silva Santos Júnior,27,1992-02-05,175,68
K. De Bruyne,Kevin De Bruyne,28,1991-06-28,181,68
J. Oblak,Jan Oblak,27,1993-01-07,188,87

In [9]:
df.loc[['L. Messi','Cristiano Ronaldo']]

,long_name,age,dob,height_cm,weight_kg
short_name,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83

In [10]:
#get the height of Messi and Ronaldo
df.loc[['L. Messi','Cristiano Ronaldo'],'height_cm']

short_name
L. Messi             170
Cristiano Ronaldo    187
Name: height_cm, dtype: int64

In [13]:
#get the height and weight of Messi
df.loc['L. Messi',['weight_kg','height_cm']]

weight_kg     72
height_cm    170
Name: L. Messi, dtype: object

In [15]:
#get the height of messi and ronaldo
df.loc[['L. Messi','Cristiano Ronaldo'],'height_cm']

short_name
L. Messi             170
Cristiano Ronaldo    187
Name: height_cm, dtype: int64

In [14]:
#get the height and weight of Messi and Ronaldo
df.loc[['L. Messi','Cristiano Ronaldo'],['height_cm','weight_kg']]

                   height_cm  weight_kg
short_name
L. Messi                 170         72
Cristiano Ronaldo        187         83

In [16]:
#slice column labels
players = ['L. Messi','Cristiano Ronaldo']
df.loc[players,'age':'weight_kg']

                   age         dob  height_cm  weight_kg
short_name
L. Messi            32  1987-06-24        170         72
Cristiano Ronaldo   34  1985-02-05        187         83

In [20]:
#slice index labels
columns = ['age','dob','height_cm','weight_kg']
#get from top 1 player to top 10 player
df.index[:10]
df.loc['L. Messi':'H. Kane', columns]

                   age         dob  height_cm  weight_kg
short_name
L. Messi            32  1987-06-24        170         72
Cristiano Ronaldo   34  1985-02-05        187         83
Neymar Jr           27  1992-02-05        175         68
K. De Bruyne        28  1991-06-28        181         68
J. Oblak            27  1993-01-07        188         87
V. van Dijk         29  1991-07-08        193         92
Mohamed Salah       28  1992-06-15        175         71
L. Modrić           34  1985-09-09        172         66
E. Hazard           30  1991-01-07        175         74
H. Kane             28  1993-07-28        188         86

In [21]:
#Selecting with condition (one condition).
columns = ['age','dob','height_cm','weight_kg']
df.loc[df['height_cm']>180,columns]

                   age         dob  height_cm  weight_kg
short_name
Cristiano Ronaldo   34  1985-02-05        187         83
K. De Bruyne        28  1991-06-28        181         68
J. Oblak            27  1993-01-07        188         87
V. van Dijk         29  1991-07-08        193         92
H. Kane             28  1993-07-28        188         86
K. Benzema          31  1987-12-19        185         81
P. Pogba            28  1993-03-15        191         84
Alisson             28  1992-10-02        191         91
Sergio Ramos        35  1986-03-30        184         82
R. Lewandowski      32  1988-08-21        185         80
E. Haaland          21  2000-07-21        194         88

In [25]:
#Multiple condition
columns = ['age','dob','height_cm','weight_kg']
df.loc[(df['height_cm']>180)&(df['weight_kg']>80), :]
df.loc[(df['height_cm']>180)&(df['weight_kg']>80), columns]

                   age         dob  height_cm  weight_kg
short_name
Cristiano Ronaldo   34  1985-02-05        187         83
J. Oblak            27  1993-01-07        188         87
V. van Dijk         29  1991-07-08        193         92
H. Kane             28  1993-07-28        188         86
K. Benzema          31  1987-12-19        185         81
P. Pogba            28  1993-03-15        191         84
Alisson             28  1992-10-02        191         91
Sergio Ramos        35  1986-03-30        184         82
E. Haaland          21  2000-07-21        194         88

In [28]:
#USE ILOC METHOD
#Select with a single value
#iloc[row_position,column_position]
#get the height of Messi
df.iloc[0,3]

170

In [30]:
#get the weight of Ronaldo
df.iloc[1,4]

83

In [31]:
#get all row inside the 'height_cm' columns
df.iloc[:,3]

short_name
L. Messi             170
Cristiano Ronaldo    187
Neymar Jr            175
K. De Bruyne         181
J. Oblak             188
V. van Dijk          193
Mohamed Salah        175
L. Modrić            172
E. Hazard            175
H. Kane              188
A. Griezmann         176
N. Kanté             168
K. Benzema           185
R. Sterling          170
P. Pogba             191
Alisson              191
Sergio Ramos         184
R. Lewandowski       185
K. Mbappé            178
E. Haaland           194
Name: height_cm, dtype: int64

In [32]:
#get all columns that correspond to the index 'L. Messi'
df.iloc[0,:]

long_name    Lionel Andrés Messi Cuccittini
age                                      32
dob                              1987-06-24
height_cm                               170
weight_kg                                72
Name: L. Messi, dtype: object

In [33]:
#selecting with a list of values
#get all data about Messi and Ronaldo
df.iloc[[0,1]]

,long_name,age,dob,height_cm,weight_kg
short_name,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83

In [34]:
#get the height of messi and ronaldo
df.iloc[[0,1],3]

short_name
L. Messi             170
Cristiano Ronaldo    187
Name: height_cm, dtype: int64

In [35]:
#get the height and weight of Messi
df.iloc[0,[3,4]]

height_cm    170
weight_kg     72
Name: L. Messi, dtype: object

In [38]:
#get the height and weight of Messi and Ronaldo
df.iloc[[0,1],[4,3]]

                   weight_kg  height_cm
short_name
L. Messi                  72        170
Cristiano Ronaldo         83        187

In [42]:
#selectitg a range of data with a slice
players = [0,1]
df.iloc[:,1:5].head()

                   age         dob  height_cm  weight_kg
short_name
L. Messi            32  1987-06-24        170         72
Cristiano Ronaldo   34  1985-02-05        187         83
Neymar Jr           27  1992-02-05        175         68
K. De Bruyne        28  1991-06-28        181         68
J. Oblak            27  1993-01-07        188         87

In [44]:
columns = [1,2,3,4]
df.iloc[0:10,columns]

                   age         dob  height_cm  weight_kg
short_name
L. Messi            32  1987-06-24        170         72
Cristiano Ronaldo   34  1985-02-05        187         83
Neymar Jr           27  1992-02-05        175         68
K. De Bruyne        28  1991-06-28        181         68
J. Oblak            27  1993-01-07        188         87
V. van Dijk         29  1991-07-08        193         92
Mohamed Salah       28  1992-06-15        175         71
L. Modrić           34  1985-09-09        172         66
E. Hazard           30  1991-01-07        175         74
H. Kane             28  1993-07-28        188         86