In [326]:
import pandas as pd
df=pd.read_csv('players.csv')
df.head()

,soffifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg
0,158023,https://sofifa.com/player/158023/lionel-messi/,L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72
1,20801,https://sofifa.com/player/20801/cristiano-rona...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83
2,190871,https://sofifa.com/player/190871/neymar/,Neymar Jr,Neymar da Silva Santos Júnior,27,1992-02-05,175,68
3,192985,https://sofifa.com/player/192985/kevin-de-bruyne/,K. De Bruyne,Kevin De Bruyne,28,1991-06-28,181,68
4,200389,https://sofifa.com/player/200389/jan-oblak/,J. Oblak,Jan Oblak,27,1993-01-07,188,87

In [327]:
df=df.set_index(['short_name'])
df.head()

,soffifa_id,player_url,long_name,age,dob,height_cm,weight_kg
short_name,,,,,,,
L. Messi,158023,https://sofifa.com/player/158023/lionel-messi/,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72
Cristiano Ronaldo,20801,https://sofifa.com/player/20801/cristiano-rona...,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83
Neymar Jr,190871,https://sofifa.com/player/190871/neymar/,Neymar da Silva Santos Júnior,27,1992-02-05,175,68
K. De Bruyne,192985,https://sofifa.com/player/192985/kevin-de-bruyne/,Kevin De Bruyne,28,1991-06-28,181,68
J. Oblak,200389,https://sofifa.com/player/200389/jan-oblak/,Jan Oblak,27,1993-01-07,188,87

In [328]:
df=df[['long_name','age','dob','height_cm','weight_kg']]
df.head()

,long_name,age,dob,height_cm,weight_kg
short_name,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83
Neymar Jr,Neymar da Silva Santos Júnior,27,1992-02-05,175,68
K. De Bruyne,Kevin De Bruyne,28,1991-06-28,181,68
J. Oblak,Jan Oblak,27,1993-01-07,188,87

In [329]:
df.loc[['L. Messi','Cristiano Ronaldo']]

,long_name,age,dob,height_cm,weight_kg
short_name,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83

In [330]:
#get the height of Messi and Ronaldo
df.loc[['L. Messi','Cristiano Ronaldo'],'height_cm']

short_name
L. Messi             170
Cristiano Ronaldo    187
Name: height_cm, dtype: int64

In [331]:
#get the height and weight of Messi
df.loc['L. Messi',['weight_kg','height_cm']]

weight_kg     72
height_cm    170
Name: L. Messi, dtype: object

In [332]:
#get the height of messi and ronaldo
df.loc[['L. Messi','Cristiano Ronaldo'],'height_cm']

short_name
L. Messi             170
Cristiano Ronaldo    187
Name: height_cm, dtype: int64

In [333]:
#get the height and weight of Messi and Ronaldo
df.loc[['L. Messi','Cristiano Ronaldo'],['height_cm','weight_kg']]

                   height_cm  weight_kg
short_name
L. Messi                 170         72
Cristiano Ronaldo        187         83

In [334]:
#slice column labels
players = ['L. Messi','Cristiano Ronaldo']
df.loc[players,'age':'weight_kg']

                   age         dob  height_cm  weight_kg
short_name
L. Messi            32  1987-06-24        170         72
Cristiano Ronaldo   34  1985-02-05        187         83

In [335]:
#slice index labels
columns = ['age','dob','height_cm','weight_kg']
#get from top 1 player to top 10 player
df.index[:10]
df.loc['L. Messi':'H. Kane', columns]

                   age         dob  height_cm  weight_kg
short_name
L. Messi            32  1987-06-24        170         72
Cristiano Ronaldo   34  1985-02-05        187         83
Neymar Jr           27  1992-02-05        175         68
K. De Bruyne        28  1991-06-28        181         68
J. Oblak            27  1993-01-07        188         87
V. van Dijk         29  1991-07-08        193         92
Mohamed Salah       28  1992-06-15        175         71
L. Modrić           34  1985-09-09        172         66
E. Hazard           30  1991-01-07        175         74
H. Kane             28  1993-07-28        188         86

In [336]:
#Selecting with condition (one condition).
columns = ['age','dob','height_cm','weight_kg']
df.loc[df['height_cm']>180,columns]

                   age         dob  height_cm  weight_kg
short_name
Cristiano Ronaldo   34  1985-02-05        187         83
K. De Bruyne        28  1991-06-28        181         68
J. Oblak            27  1993-01-07        188         87
V. van Dijk         29  1991-07-08        193         92
H. Kane             28  1993-07-28        188         86
K. Benzema          31  1987-12-19        185         81
P. Pogba            28  1993-03-15        191         84
Alisson             28  1992-10-02        191         91
Sergio Ramos        35  1986-03-30        184         82
R. Lewandowski      32  1988-08-21        185         80
E. Haaland          21  2000-07-21        194         88

In [337]:
#Multiple condition
columns = ['age','dob','height_cm','weight_kg']
df.loc[(df['height_cm']>180)&(df['weight_kg']>80), :]
df.loc[(df['height_cm']>180)&(df['weight_kg']>80), columns]

                   age         dob  height_cm  weight_kg
short_name
Cristiano Ronaldo   34  1985-02-05        187         83
J. Oblak            27  1993-01-07        188         87
V. van Dijk         29  1991-07-08        193         92
H. Kane             28  1993-07-28        188         86
K. Benzema          31  1987-12-19        185         81
P. Pogba            28  1993-03-15        191         84
Alisson             28  1992-10-02        191         91
Sergio Ramos        35  1986-03-30        184         82
E. Haaland          21  2000-07-21        194         88

In [338]:
#USE ILOC METHOD
#Select with a single value
#iloc[row_position,column_position]
#get the height of Messi
df.iloc[0,3]

170

In [339]:
#get the weight of Ronaldo
df.iloc[1,4]

83

In [340]:
#get all row inside the 'height_cm' columns
df.iloc[:,3]

short_name
L. Messi             170
Cristiano Ronaldo    187
Neymar Jr            175
K. De Bruyne         181
J. Oblak             188
V. van Dijk          193
Mohamed Salah        175
L. Modrić            172
E. Hazard            175
H. Kane              188
A. Griezmann         176
N. Kanté             168
K. Benzema           185
R. Sterling          170
P. Pogba             191
Alisson              191
Sergio Ramos         184
R. Lewandowski       185
K. Mbappé            178
E. Haaland           194
Name: height_cm, dtype: int64

In [341]:
#get all columns that correspond to the index 'L. Messi'
df.iloc[0,:]

long_name    Lionel Andrés Messi Cuccittini
age                                      32
dob                              1987-06-24
height_cm                               170
weight_kg                                72
Name: L. Messi, dtype: object

In [342]:
#selecting with a list of values
#get all data about Messi and Ronaldo
df.iloc[[0,1]]

,long_name,age,dob,height_cm,weight_kg
short_name,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83

In [343]:
#get the height of messi and ronaldo
df.iloc[[0,1],3]

short_name
L. Messi             170
Cristiano Ronaldo    187
Name: height_cm, dtype: int64

In [344]:
#get the height and weight of Messi
df.iloc[0,[3,4]]

height_cm    170
weight_kg     72
Name: L. Messi, dtype: object

In [345]:
#get the height and weight of Messi and Ronaldo
df.iloc[[0,1],[4,3]]

                   weight_kg  height_cm
short_name
L. Messi                  72        170
Cristiano Ronaldo         83        187

In [346]:
#selectitg a range of data with a slice
players = [0,1]
df.iloc[:,1:5].head()

                   age         dob  height_cm  weight_kg
short_name
L. Messi            32  1987-06-24        170         72
Cristiano Ronaldo   34  1985-02-05        187         83
Neymar Jr           27  1992-02-05        175         68
K. De Bruyne        28  1991-06-28        181         68
J. Oblak            27  1993-01-07        188         87

In [347]:
columns = [1,2,3,4]
df.iloc[0:10,columns]

                   age         dob  height_cm  weight_kg
short_name
L. Messi            32  1987-06-24        170         72
Cristiano Ronaldo   34  1985-02-05        187         83
Neymar Jr           27  1992-02-05        175         68
K. De Bruyne        28  1991-06-28        181         68
J. Oblak            27  1993-01-07        188         87
V. van Dijk         29  1991-07-08        193         92
Mohamed Salah       28  1992-06-15        175         71
L. Modrić           34  1985-09-09        172         66
E. Hazard           30  1991-01-07        175         74
H. Kane             28  1993-07-28        188         86

In [348]:
columns = [1,2,3,4]
list(df['height_cm']>180)
df.iloc[list(df['height_cm']>180),columns]

                   age         dob  height_cm  weight_kg
short_name
Cristiano Ronaldo   34  1985-02-05        187         83
K. De Bruyne        28  1991-06-28        181         68
J. Oblak            27  1993-01-07        188         87
V. van Dijk         29  1991-07-08        193         92
H. Kane             28  1993-07-28        188         86
K. Benzema          31  1987-12-19        185         81
P. Pogba            28  1993-03-15        191         84
Alisson             28  1992-10-02        191         91
Sergio Ramos        35  1986-03-30        184         82
R. Lewandowski      32  1988-08-21        185         80
E. Haaland          21  2000-07-21        194         88

In [349]:
df.iloc[list((df['height_cm']>180)&(df['weight_kg']>80)),:]

,long_name,age,dob,height_cm,weight_kg
short_name,,,,,
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83
J. Oblak,Jan Oblak,27,1993-01-07,188,87
V. van Dijk,Virgil van Dijk,29,1991-07-08,193,92
H. Kane,Harry Kane,28,1993-07-28,188,86
K. Benzema,Karim Benzema,31,1987-12-19,185,81
P. Pogba,Paul Pogba,28,1993-03-15,191,84
Alisson,Alisson Becker,28,1992-10-02,191,91
Sergio Ramos,Sergio Ramos García,35,1986-03-30,184,82
E. Haaland,Erling Haaland,21,2000-07-21,194,88

In [350]:
#Set the value to one cell
#Update Messi height
df.loc['L. Messi','height_cm'] = 175
df.head(1)

,long_name,age,dob,height_cm,weight_kg
short_name,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,175,72

In [351]:
df.loc[:,'height_cm'] = 190
df.head()

,long_name,age,dob,height_cm,weight_kg
short_name,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,190,72
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,190,83
Neymar Jr,Neymar da Silva Santos Júnior,27,1992-02-05,190,68
K. De Bruyne,Kevin De Bruyne,28,1991-06-28,190,68
J. Oblak,Jan Oblak,27,1993-01-07,190,87

In [352]:
#get all columns that correspond to player ranked last in fifa
df.iloc[-1,:]

long_name    Erling Haaland
age                      21
dob              2000-07-21
height_cm               190
weight_kg                88
Name: E. Haaland, dtype: object

In [353]:
import numpy as np
last_row = df.iloc[-1, :].copy()  # copy to avoid modifying original
df.iloc[-1, :] = np.nan
last_row # still shows the original values

long_name    Erling Haaland
age                      21
dob              2000-07-21
height_cm               190
weight_kg                88
Name: E. Haaland, dtype: object

In [354]:
df

,long_name,age,dob,height_cm,weight_kg
short_name,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32.0,1987-06-24,190.0,72.0
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34.0,1985-02-05,190.0,83.0
Neymar Jr,Neymar da Silva Santos Júnior,27.0,1992-02-05,190.0,68.0
K. De Bruyne,Kevin De Bruyne,28.0,1991-06-28,190.0,68.0
J. Oblak,Jan Oblak,27.0,1993-01-07,190.0,87.0
V. van Dijk,Virgil van Dijk,29.0,1991-07-08,190.0,92.0
Mohamed Salah,Mohamed Salah Hamed Mahrous Ghaly,28.0,1992-06-15,190.0,71.0
L. Modrić,Luka Modrić,34.0,1985-09-09,190.0,66.0
E. Hazard,Eden Hazard,30.0,1991-01-07,190.0,74.0
H. Kane,Harry Kane,28.0,1993-07-28,190.0,86.0
A. Griezmann,Antoine Griezmann,30.0,1991-03-21,190.0,73.0
N. Kanté,N'Golo Kanté,29.0,1991-03-29,190.0,70.0
K. Benzema,Karim Benzema,31.0,1987-12-19,190.0,81.0
R. Sterling,Raheem Sterling,26.0,1994-12-08,190.0,69.0
P. Pogba,Paul Pogba,28.0,1993-03-15,190.0,84.0
Alisson,Alisson Becker,28.0,1992-10-02,190.0,91.0
Sergio Ramos,Sergio Ramos García,35.0,1986-03-30,190.0,82.0
R. Lewandowski,Robert Lewandowski,32.0,1988-08-21,190.0,80.0
K. Mbappé,Kylian Mbappé,22.0,1998-12-20,190.0,73.0
E. Haaland,NaN,NaN,NaN,NaN,NaN

In [355]:
df.loc[['L. Messi','Cristiano Ronaldo'],['height_cm',]] = 178
df.head()

,long_name,age,dob,height_cm,weight_kg
short_name,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32.0,1987-06-24,178.0,72.0
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34.0,1985-02-05,178.0,83.0
Neymar Jr,Neymar da Silva Santos Júnior,27.0,1992-02-05,190.0,68.0
K. De Bruyne,Kevin De Bruyne,28.0,1991-06-28,190.0,68.0
J. Oblak,Jan Oblak,27.0,1993-01-07,190.0,87.0

In [356]:
columns = ['age','dob','height_cm','weight_kg']
df.loc[df['height_cm']>180,columns] = 0
df.head()

,long_name,age,dob,height_cm,weight_kg
short_name,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32.0,1987-06-24,178.0,72.0
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34.0,1985-02-05,178.0,83.0
Neymar Jr,Neymar da Silva Santos Júnior,0.0,0,0.0,0.0
K. De Bruyne,Kevin De Bruyne,0.0,0,0.0,0.0
J. Oblak,Jan Oblak,0.0,0,0.0,0.0

In [357]:
df.drop('L. Messi',axis=0)

,long_name,age,dob,height_cm,weight_kg
short_name,,,,,
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34.0,1985-02-05,178.0,83.0
Neymar Jr,Neymar da Silva Santos Júnior,0.0,0,0.0,0.0
K. De Bruyne,Kevin De Bruyne,0.0,0,0.0,0.0
J. Oblak,Jan Oblak,0.0,0,0.0,0.0
V. van Dijk,Virgil van Dijk,0.0,0,0.0,0.0
Mohamed Salah,Mohamed Salah Hamed Mahrous Ghaly,0.0,0,0.0,0.0
L. Modrić,Luka Modrić,0.0,0,0.0,0.0
E. Hazard,Eden Hazard,0.0,0,0.0,0.0
H. Kane,Harry Kane,0.0,0,0.0,0.0
A. Griezmann,Antoine Griezmann,0.0,0,0.0,0.0
N. Kanté,N'Golo Kanté,0.0,0,0.0,0.0
K. Benzema,Karim Benzema,0.0,0,0.0,0.0
R. Sterling,Raheem Sterling,0.0,0,0.0,0.0
P. Pogba,Paul Pogba,0.0,0,0.0,0.0
Alisson,Alisson Becker,0.0,0,0.0,0.0
Sergio Ramos,Sergio Ramos García,0.0,0,0.0,0.0
R. Lewandowski,Robert Lewandowski,0.0,0,0.0,0.0
K. Mbappé,Kylian Mbappé,0.0,0,0.0,0.0
E. Haaland,NaN,NaN,NaN,NaN,NaN

In [358]:
df.drop(index=['L. Messi'])

,long_name,age,dob,height_cm,weight_kg
short_name,,,,,
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34.0,1985-02-05,178.0,83.0
Neymar Jr,Neymar da Silva Santos Júnior,0.0,0,0.0,0.0
K. De Bruyne,Kevin De Bruyne,0.0,0,0.0,0.0
J. Oblak,Jan Oblak,0.0,0,0.0,0.0
V. van Dijk,Virgil van Dijk,0.0,0,0.0,0.0
Mohamed Salah,Mohamed Salah Hamed Mahrous Ghaly,0.0,0,0.0,0.0
L. Modrić,Luka Modrić,0.0,0,0.0,0.0
E. Hazard,Eden Hazard,0.0,0,0.0,0.0
H. Kane,Harry Kane,0.0,0,0.0,0.0
A. Griezmann,Antoine Griezmann,0.0,0,0.0,0.0
N. Kanté,N'Golo Kanté,0.0,0,0.0,0.0
K. Benzema,Karim Benzema,0.0,0,0.0,0.0
R. Sterling,Raheem Sterling,0.0,0,0.0,0.0
P. Pogba,Paul Pogba,0.0,0,0.0,0.0
Alisson,Alisson Becker,0.0,0,0.0,0.0
Sergio Ramos,Sergio Ramos García,0.0,0,0.0,0.0
R. Lewandowski,Robert Lewandowski,0.0,0,0.0,0.0
K. Mbappé,Kylian Mbappé,0.0,0,0.0,0.0
E. Haaland,NaN,NaN,NaN,NaN,NaN

In [359]:
df

,long_name,age,dob,height_cm,weight_kg
short_name,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32.0,1987-06-24,178.0,72.0
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34.0,1985-02-05,178.0,83.0
Neymar Jr,Neymar da Silva Santos Júnior,0.0,0,0.0,0.0
K. De Bruyne,Kevin De Bruyne,0.0,0,0.0,0.0
J. Oblak,Jan Oblak,0.0,0,0.0,0.0
V. van Dijk,Virgil van Dijk,0.0,0,0.0,0.0
Mohamed Salah,Mohamed Salah Hamed Mahrous Ghaly,0.0,0,0.0,0.0
L. Modrić,Luka Modrić,0.0,0,0.0,0.0
E. Hazard,Eden Hazard,0.0,0,0.0,0.0
H. Kane,Harry Kane,0.0,0,0.0,0.0
A. Griezmann,Antoine Griezmann,0.0,0,0.0,0.0
N. Kanté,N'Golo Kanté,0.0,0,0.0,0.0
K. Benzema,Karim Benzema,0.0,0,0.0,0.0
R. Sterling,Raheem Sterling,0.0,0,0.0,0.0
P. Pogba,Paul Pogba,0.0,0,0.0,0.0
Alisson,Alisson Becker,0.0,0,0.0,0.0
Sergio Ramos,Sergio Ramos García,0.0,0,0.0,0.0
R. Lewandowski,Robert Lewandowski,0.0,0,0.0,0.0
K. Mbappé,Kylian Mbappé,0.0,0,0.0,0.0
E. Haaland,NaN,NaN,NaN,NaN,NaN

In [360]:
#drop two or more rows and update data (inplace = True)
df.drop(['L. Messi', 'Cristiano Ronaldo'], axis=0, inplace=True)

In [361]:
df

,long_name,age,dob,height_cm,weight_kg
short_name,,,,,
Neymar Jr,Neymar da Silva Santos Júnior,0.0,0,0.0,0.0
K. De Bruyne,Kevin De Bruyne,0.0,0,0.0,0.0
J. Oblak,Jan Oblak,0.0,0,0.0,0.0
V. van Dijk,Virgil van Dijk,0.0,0,0.0,0.0
Mohamed Salah,Mohamed Salah Hamed Mahrous Ghaly,0.0,0,0.0,0.0
L. Modrić,Luka Modrić,0.0,0,0.0,0.0
E. Hazard,Eden Hazard,0.0,0,0.0,0.0
H. Kane,Harry Kane,0.0,0,0.0,0.0
A. Griezmann,Antoine Griezmann,0.0,0,0.0,0.0
N. Kanté,N'Golo Kanté,0.0,0,0.0,0.0
K. Benzema,Karim Benzema,0.0,0,0.0,0.0
R. Sterling,Raheem Sterling,0.0,0,0.0,0.0
P. Pogba,Paul Pogba,0.0,0,0.0,0.0
Alisson,Alisson Becker,0.0,0,0.0,0.0
Sergio Ramos,Sergio Ramos García,0.0,0,0.0,0.0
R. Lewandowski,Robert Lewandowski,0.0,0,0.0,0.0
K. Mbappé,Kylian Mbappé,0.0,0,0.0,0.0
E. Haaland,NaN,NaN,NaN,NaN,NaN

In [426]:
import pandas as pd
data=pd.read_csv('players.csv')
data.set_index('short_name',inplace = True)
data=data[['long_name','age','dob','height_cm','weight_kg']]
data.head()

,long_name,age,dob,height_cm,weight_kg
short_name,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83
Neymar Jr,Neymar da Silva Santos Júnior,27,1992-02-05,175,68
K. De Bruyne,Kevin De Bruyne,28,1991-06-28,181,68
J. Oblak,Jan Oblak,27,1993-01-07,188,87

In [427]:
drop_messi=data.drop(index=['L. Messi'])
drop_messi.head()

,long_name,age,dob,height_cm,weight_kg
short_name,,,,,
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83
Neymar Jr,Neymar da Silva Santos Júnior,27,1992-02-05,175,68
K. De Bruyne,Kevin De Bruyne,28,1991-06-28,181,68
J. Oblak,Jan Oblak,27,1993-01-07,188,87
V. van Dijk,Virgil van Dijk,29,1991-07-08,193,92

In [428]:
data.head()

,long_name,age,dob,height_cm,weight_kg
short_name,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83
Neymar Jr,Neymar da Silva Santos Júnior,27,1992-02-05,175,68
K. De Bruyne,Kevin De Bruyne,28,1991-06-28,181,68
J. Oblak,Jan Oblak,27,1993-01-07,188,87

In [429]:
data.drop(['L. Messi','Cristiano Ronaldo'], axis=0, inplace=True, errors='ignore')
data

,long_name,age,dob,height_cm,weight_kg
short_name,,,,,
Neymar Jr,Neymar da Silva Santos Júnior,27,1992-02-05,175,68
K. De Bruyne,Kevin De Bruyne,28,1991-06-28,181,68
J. Oblak,Jan Oblak,27,1993-01-07,188,87
V. van Dijk,Virgil van Dijk,29,1991-07-08,193,92
Mohamed Salah,Mohamed Salah Hamed Mahrous Ghaly,28,1992-06-15,175,71
L. Modrić,Luka Modrić,34,1985-09-09,172,66
E. Hazard,Eden Hazard,30,1991-01-07,175,74
H. Kane,Harry Kane,28,1993-07-28,188,86
A. Griezmann,Antoine Griezmann,30,1991-03-21,176,73
N. Kanté,N'Golo Kanté,29,1991-03-29,168,70
K. Benzema,Karim Benzema,31,1987-12-19,185,81
R. Sterling,Raheem Sterling,26,1994-12-08,170,69
P. Pogba,Paul Pogba,28,1993-03-15,191,84
Alisson,Alisson Becker,28,1992-10-02,191,91
Sergio Ramos,Sergio Ramos García,35,1986-03-30,184,82
R. Lewandowski,Robert Lewandowski,32,1988-08-21,185,80
K. Mbappé,Kylian Mbappé,22,1998-12-20,178,73
E. Haaland,Erling Haaland,21,2000-07-21,194,88

In [430]:
#drop one column
#axis parameter
data.drop(columns=['long_name']).head()

               age         dob  height_cm  weight_kg
short_name
Neymar Jr       27  1992-02-05        175         68
K. De Bruyne    28  1991-06-28        181         68
J. Oblak        27  1993-01-07        188         87
V. van Dijk     29  1991-07-08        193         92
Mohamed Salah   28  1992-06-15        175         71

In [431]:
#Drop the last column
data.drop(data.columns[[-1]], axis=1)

                                        long_name  age         dob  height_cm
short_name
Neymar Jr           Neymar da Silva Santos Júnior   27  1992-02-05        175
K. De Bruyne                      Kevin De Bruyne   28  1991-06-28        181
J. Oblak                                Jan Oblak   27  1993-01-07        188
V. van Dijk                       Virgil van Dijk   29  1991-07-08        193
Mohamed Salah   Mohamed Salah Hamed Mahrous Ghaly   28  1992-06-15        175
L. Modrić                             Luka Modrić   34  1985-09-09        172
E. Hazard                             Eden Hazard   30  1991-01-07        175
H. Kane                                Harry Kane   28  1993-07-28        188
A. Griezmann                    Antoine Griezmann   30  1991-03-21        176
N. Kanté                             N'Golo Kanté   29  1991-03-29        168
K. Benzema                          Karim Benzema   31  1987-12-19        185
R. Sterling                       Raheem Sterling   26  1994-12-08        170
P. Pogba                               Paul Pogba   28  1993-03-15        191
Alisson                            Alisson Becker   28  1992-10-02        191
Sergio Ramos                  Sergio Ramos García   35  1986-03-30        184
R. Lewandowski                 Robert Lewandowski   32  1988-08-21        185
K. Mbappé                           Kylian Mbappé   22  1998-12-20        178
E. Haaland                         Erling Haaland   21  2000-07-21        194

In [435]:
#Drop two or more columns and update (inplace = True)
data.drop(['long_name','dob'],axis=1, inplace=True, errors='ignore')
data

                age  height_cm  weight_kg
short_name
Neymar Jr        27        175         68
K. De Bruyne     28        181         68
J. Oblak         27        188         87
V. van Dijk      29        193         92
Mohamed Salah    28        175         71
L. Modrić        34        172         66
E. Hazard        30        175         74
H. Kane          28        188         86
A. Griezmann     30        176         73
N. Kanté         29        168         70
K. Benzema       31        185         81
R. Sterling      26        170         69
P. Pogba         28        191         84
Alisson          28        191         91
Sergio Ramos     35        184         82
R. Lewandowski   32        185         80
K. Mbappé        22        178         73
E. Haaland       21        194         88

In [444]:
#sample()
#extract 10 random elements from the "height_cm" column
data['height_cm'].sample(10,random_state=90)

short_name
R. Lewandowski    185
E. Hazard         175
N. Kanté          168
A. Griezmann      176
K. De Bruyne      181
K. Mbappé         178
Alisson           191
P. Pogba          191
R. Sterling       170
E. Haaland        194
Name: height_cm, dtype: int64

In [446]:
#extract a random 20% sample of the dataframe
data.sample(frac=0.2)

              age  height_cm  weight_kg
short_name
K. De Bruyne   28        181         68
E. Haaland     21        194         88
R. Sterling    26        170         69
H. Kane        28        188         86

In [448]:
data.sample(frac=2,replace=True, random_state=90)

                age  height_cm  weight_kg
short_name
V. van Dijk      29        193         92
H. Kane          28        188         86
Mohamed Salah    28        175         71
L. Modrić        34        172         66
K. Benzema       31        185         81
Neymar Jr        27        175         68
R. Sterling      26        170         69
K. Mbappé        22        178         73
Alisson          28        191         91
N. Kanté         29        168         70
Neymar Jr        27        175         68
Neymar Jr        27        175         68
K. Benzema       31        185         81
A. Griezmann     30        176         73
K. Mbappé        22        178         73
R. Sterling      26        170         69
P. Pogba         28        191         84
Mohamed Salah    28        175         71
N. Kanté         29        168         70
K. Mbappé        22        178         73
E. Hazard        30        175         74
R. Sterling      26        170         69
K. Mbappé        22        178         73
R. Lewandowski   32        185         80
K. De Bruyne     28        181         68
Sergio Ramos     35        184         82
J. Oblak         27        188         87
J. Oblak         27        188         87
A. Griezmann     30        176         73
K. Benzema       31        185         81
J. Oblak         27        188         87
K. Mbappé        22        178         73
K. De Bruyne     28        181         68
Neymar Jr        27        175         68
H. Kane          28        188         86
E. Hazard        30        175         74