In [6]:
import pandas as pd
df=pd.read_csv('players.csv')
df.head()

,soffifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg
0,158023,https://sofifa.com/player/158023/lionel-messi/,L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72
1,20801,https://sofifa.com/player/20801/cristiano-rona...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83
2,190871,https://sofifa.com/player/190871/neymar/,Neymar Jr,Neymar da Silva Santos Júnior,27,1992-02-05,175,68
3,192985,https://sofifa.com/player/192985/kevin-de-bruyne/,K. De Bruyne,Kevin De Bruyne,28,1991-06-28,181,68
4,200389,https://sofifa.com/player/200389/jan-oblak/,J. Oblak,Jan Oblak,27,1993-01-07,188,87

In [7]:
df=df.set_index(['short_name'])
df.head()

,soffifa_id,player_url,long_name,age,dob,height_cm,weight_kg
short_name,,,,,,,
L. Messi,158023,https://sofifa.com/player/158023/lionel-messi/,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72
Cristiano Ronaldo,20801,https://sofifa.com/player/20801/cristiano-rona...,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83
Neymar Jr,190871,https://sofifa.com/player/190871/neymar/,Neymar da Silva Santos Júnior,27,1992-02-05,175,68
K. De Bruyne,192985,https://sofifa.com/player/192985/kevin-de-bruyne/,Kevin De Bruyne,28,1991-06-28,181,68
J. Oblak,200389,https://sofifa.com/player/200389/jan-oblak/,Jan Oblak,27,1993-01-07,188,87

In [8]:
df=df[['long_name','age','dob','height_cm','weight_kg']]
df.head()

,long_name,age,dob,height_cm,weight_kg
short_name,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83
Neymar Jr,Neymar da Silva Santos Júnior,27,1992-02-05,175,68
K. De Bruyne,Kevin De Bruyne,28,1991-06-28,181,68
J. Oblak,Jan Oblak,27,1993-01-07,188,87

In [9]:
df.loc[['L. Messi','Cristiano Ronaldo']]

,long_name,age,dob,height_cm,weight_kg
short_name,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83

In [10]:
#get the height of Messi and Ronaldo
df.loc[['L. Messi','Cristiano Ronaldo'],'height_cm']

short_name
L. Messi             170
Cristiano Ronaldo    187
Name: height_cm, dtype: int64

In [13]:
#get the height and weight of Messi
df.loc['L. Messi',['weight_kg','height_cm']]

weight_kg     72
height_cm    170
Name: L. Messi, dtype: object

In [15]:
#get the height of messi and ronaldo
df.loc[['L. Messi','Cristiano Ronaldo'],'height_cm']

short_name
L. Messi             170
Cristiano Ronaldo    187
Name: height_cm, dtype: int64

In [14]:
#get the height and weight of Messi and Ronaldo
df.loc[['L. Messi','Cristiano Ronaldo'],['height_cm','weight_kg']]

                   height_cm  weight_kg
short_name
L. Messi                 170         72
Cristiano Ronaldo        187         83